<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorization</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div class="link-bar">
            <a href="/">Main</a>
            <a href="/contacts/">Contacts</a>
        </div>
    </header>

    <main>
        <h2>Authorization</h2>
        <p>You don't have any account? <a href="/reg/">Create</a></p>

        <% if (error) { %>
            <div class="error-message"><%= error %></div>
        <% } %>

        <form action="/auth" class="account-form" method="post">
            <input type="text" name="username" placeholder="Your name">
            <input type="password" name="password" placeholder="Your password">

            <!-- <button type="submit" name="leave_btn">Leave</button> -->
            <button type="submit" name="auth_btn">Submit</button>
        </form>
    </main>
</body>
</html>